.THIS .space-top{
    margin-top: 20px;
}

.THIS .btn-icon{
    font-size:18px;
}

.THIS .uiOutputText{
    background-color: #E5E5E5!important;
}

.THIS .fade{
    background: rgba(0, 0, 0, 0.6)!important;
}

.THIS .outputtext{
    background-color: #E5E5E5!important;
    pointer-events: none;
}

.THIS .nav-buttons-top{
    padding-top: 0px;
}


.THIS .overlay-read{
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    opacity: 0.6;
    pointer-events: none;
}


/****************************************************************************/
/******************** NEW Brush-Up Style ******************************/
.THIS .redColor{
    color:#ff234f;
}

.THIS .navbar-brand{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.THIS .navbar-buttons{
    margin-right:30px;
    margin-left:20px
}

.THIS .redBack{
    background-color: #ff234f !important;
}

.THIS .whiteBack{
    background-color: white;
    font-size: 18px !important;
}

.THIS .whiteBack:hover{
    background-color: #e7e7e7;
}

.THIS .accName{
    float:left;
    padding-top: 15px;
    padding-left: 20px;
    color:white;
    font-size:18px;
}

.THIS .ulLogo{
    height:50px;
    padding:10px 35px 10px 15px !important;
    background-color: white
}

.THIS .navButton{
    margin-top:10px;
    margin-right:20px;
    border: solid 1px #848484;
    font-size:14px !important;
}

.THIS .navSelect{
    background: url(/resource/f42_Icon_Down) no-repeat right;
    height:27px !important;
    width:65px;
    padding:5px;
    padding-right: 20px;
    padding-left: 10px;
    line-height:1;
    border: 0;
    background-color: white;
    color:#848484;
    font-size:13px;
    -webkit-appearance:none;
    outline:none
}

/******** Sections *******/
.THIS .sectionHeader{
    font-size:18px;
    color:#636363;
    width:100%;
    margin-top: 40px;
    padding:10px;
    border-bottom: solid 1px #636363;
}

.THIS .dontShowSection{
    display: none;
}

/******** Info section *******/
.THIS .detailText{
    font-size: 16px;
    color:#636363;
}

.THIS .detailText div{
    padding: 10px 20px;
}

.THIS .detailText span{
    font-weight: bold;
}

.THIS .goRight{
    text-align: right;
}

.THIS .fullWidth{
    width: 100%;
}

.THIS .datePick{
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.THIS .doubleRedBottom{
    height: 2px;
    border-bottom: 4px double #ff234f;
}

.THIS .borderInfo{
    border: solid 1px #636363;
}

/******** Mediamix component *******/
.THIS .accDash .around{
    background-color: white !important;
    border: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.THIS .accDash .uiOutputText{
    background-color: transparent !important;
}

.THIS .accDash .bigFont{
    color: #636363;
    font-weight: normal !important;
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif !important;
}

.THIS .accDash .alert{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

/******** Team assignment *******/
.THIS .secondHeader{
    font-size:18px;
    color:#636363;
}

/******** Strategy profile summary *******/
.THIS .magTop10{
    margin-top: -10px !important;
}

.THIS .magTop20{
    margin-top: -20px !important;
}

.THIS .pad10{
    padding: 10px;
}

.THIS .stratText{
    font-size: 12px;
    color:#636363;
}

.THIS .stratHead{
    background-color:white;
    border-bottom: 0;
}
